body{
	background-color: black;

}

.center {
	color: white;
	margin: auto;
	margin-top: 200px;
    width: 60%;
    border: 5px solid #C5B358;
    padding: 10px;
}

h1{
	text-align: center;
	font-family: 'Libre Baskerville', serif;

}

form{
	font-family: 'Abril Fatface', cursive;
	margin: auto;
    width: 60%;
	padding: 10px;
	padding-left: 205px;
}

p {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	color: white;
}